@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 40px 50px;
    display :flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;


}
.menu a{
    font-size: 1.4em;
    font-weight: 400;
    margin-left: 12px;
    text-decoration: none;
    color:#fff;
    border-radius: 30px;
    transition: .5s;

}
.menu a:hover{
    border-bottom: 2px solid white;
    color:red;
}
.mainpage{
    width:100%;
    height:100vh;
    background-image: url(2815665.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    color: #fff;
    text-align: center;
}
h3{
    font-size:1.7em;
    font-weight: 600;
}
h1{
    font-size: 3.5em;
    font-weight: 600;
    padding-bottom: 30px;

}
button{
    font-size: 2em;
    font-weight: 600;
    background-color: transparent;
    color:#fff;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 50px;
    transition: .5s;
    cursor: pointer;

}
button:hover{
    background-color: #fff;
    color: black;
}



